<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--perform a POST method with "/login" request for the server to authenticate username and password (cannot use GET method as username and password cannot be submitted to server)-->
    <form th:action="@{/login}" method="post">
        <div>
            <label>Username: <input type="text" name="username"></label>
            <label>Password: <input type="password" name="password"></label>
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>
</body>
</html>
